.form-horizontal label {
  padding-top: 5px;
  padding-bottom: 5px;
}
.avatar {
  width: 50px;
  height: auto;
}
.profile-pic {
  width: 150px;
  height: auto;
}
#randorobo{
  width: 300px;
  height: auto;
}
.navbar-brand {
  padding-left: 40px;
}
body {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5ffe5;
}
