<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Robot World</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/robots/new">New Robot</a></li>
      <li><a href="/robots">Robot Directory</a></li>
      <li><a href="/">Dashboard</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="statblock">
        <div class="textbox">
          <h3> Average Age: <%= robot_world.average_age.to_i %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
