<div class="page-header">
  <div class="navbar">

  </div>
</div>
<div class="row">
  <div class="col-md-4">

    <form class="form-horizontal" role="form" action="/robots" method="post">
      <fieldset class="form-group">
        <label for="name">Name</label>
        <input type="text" name="robot[name]" class="form-control" id="name" placeholder="Enter Name">
        <small class="text-muted">We'll never share or sell your robot info to any third parties.</small><br><br>

        <label for="city">City</label>
        <input type="text" name="robot[city]" class="form-control" id="city" placeholder="Enter City">
      </div>
    </div>

    <label for="avatar">Avatar</label>
    <input type="text" name="robot[avatar]" class="form-control" id="avatar" placeholder="Enter Avatar Character-Code">
    <small class="text-muted">Visit <a href="https://robohash.org".>robohash</a> and add your character-code to the path to preview your robot!</small><br><br>

    <label for="birthdate">Birthdate</label>
    <input type="date" name="robot[birthdate]" class="form-control" id="birthdate" placeholder="Enter Birthdate">

    <label for="date_hired">Date Hired</label>
    <input type="date" name="robot[date_hired]" class="form-control" id="date_hired" placeholder="Enter Hire Date">

    <label for="department">Department</label>
    <input type="text" name="robot[department]" class="form-control" id="department" placeholder="Enter Department">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
