<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Robot World</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/robots/new">New Robot</a></li>
      <li><a href="/robots">Robot Directory</a></li>
      <li><a href="/">Dashboard</a></li>
    </ul>
  </div>
</nav>

<form class="form-horizontal" role="form" action="/robots" method="post">
  <div class="col-md-3">
    <label for="name">Name</label>
    <input type="text" name="robot[name]" class="form-control" id="name" placeholder="Enter Name">
    <small class="text-muted">We'll never share or sell your robot info to any third parties.</small><br><br>

    <label for="city">City</label>
    <input type="text" name="robot[city]" class="form-control" id="city" placeholder="Enter City"><br>

    <label for="avatar">Avatar</label>
    <input type="text" name="robot[avatar]" class="form-control" id="avatar" placeholder="Enter Avatar Character-Code">
    <small class="text-muted">Visit <a href="https://robohash.org" data-remote="false".>robohash</a> and add your character-code to the path to preview your robot!</small><br><br>
  </div>

  <div class="col-md-offset-1 col-md-3">
    <label for="birthdate">Birthdate</label>
    <input type="date" name="robot[birthdate]" class="form-control" id="birthdate" placeholder="Enter Birthdate"><br><br><br>

    <label for="date_hired">Date Hired</label>
    <input type="date" name="robot[date_hired]" class="form-control" id="date_hired" placeholder="Enter Hire Date"><br>

    <label for="department">Department</label>
    <input type="text" name="robot[department]" class="form-control" id="department" placeholder="Enter Department"><br><br>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</form>


<div class="col-md-offset-1 col-md-4">
  <img id="randorobo" src="https://robohash.org/<%= (0...50).map { ('a'..'z').to_a[rand(26)] }.join %>" alt="randorobo"/>
  <p style="text-align: center; padding-top: 4px;"><small class="text-muted">Note: This is a picture of a random robot.</small></p>
</div>
