<div class="page-header">
  <div class="navbar">

  </div>
</div>

<div class="row">
  <div class="well">
    <div class="col-md-4">
      <%= image_tag("robothash.org/#{@robot.avatar}", :alt => "Avatar") %>
    </div>
    <div class="col-md-4 .col-md-offset-4">

    </div>
  </div>
</div>
